*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
    font-weight: normal;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.bc-deep-blue{
    background: #2D89EF;
}
.bc-green{
    background: #5cb85c;
}
.bc-deep-green{
    background: #009999;
}
.bc-red{
    background: #d9534f;
}
.bc-main{
    background: #337ab7;
}
.bc-orange{
    background: #f0ad4e;
}
.bc-blue{
    background: #5bc0de;
}
.bc-deep-orange {
    background: #d58512;
}
.c-white {
    color: #ffffff;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.navbar {
    border-bottom: 1px solid #E5E9EF;
}

