<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">SomeThing</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto d-lg-flex order-2">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/chat">聊天室</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/gif/sorry">GIF</a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Link</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link disabled" href="#">Disabled</a>#}
{#                    </li>#}
                </ul>
                {% if name  %}
                <div class="d-none od-lg-flex order-1 welcome">你好呀! {{ name }}</div>
                {% end %}
                <ul class="navbar-nav d-lg-flex order-3">
                    {% if name  %}
                    <li class="nav-item"><a class="nav-link" id="log-out" href="#">Sign out</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="/signin">Sign in</a></li>
                    <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
                    {% end %}
                </ul>
                {#            <form class="form-inline mt-2 mt-md-0">#}
                {#                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
                {#                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
                {#            </form>#}
            </div>
        </div>
    </nav>
</header>